*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

header{
 background-color: rgba(20, 20, 30, 0.8);
 color: snow;
 text-align: left;
 padding: 4px;
 position: sticky;
 top: 0;
}

body{
 display: flex;
 flex-flow: column;
 font-family: applesf;
 text-align: center;
 background-color: black;
 background-repeat: no-repeat;
 background-image: linear-gradient(rgba(50, 50, 100, 0.7), rgba(80, 80, 100, 1));
 background-size: cover;
 background-position: fixed;
 font-size: 1.2rem;
}

@font-face{
 src: url("/JavaScript projects /Unit conversion project/SF-Pro-Display-Medium.otf");
 font-family: applesf;
}

main{
 padding: 10px;
 min-height: 90vh;
 flex-grow: 1;
}

main h2{
 font-size: 1.2rem;
 padding: 10px;
 color: #555;
}

input::placeholder{
 color: snow;
 opacity: 0.6;
}

h3{
 padding: 5px;
}

.values{
 text-align: left;
}

.temperature, .time, .circlecard, .weight {
 width: 70%;
 margin: 20px auto;
 text-align: center;
 color: snow;
  font-weight: bolder;
 background-color: rgba(150, 150, 180, 0.5);
 
 background-size: cover;
  border-radius: 10px;
  padding: 10px;
 /* box-shadow: 1px 1px 1px rgb(20, 20, 20);
 */ min-height: 200px;
}

.temperature p{
 padding: 10px;
}

.circlecard hr{
 color: blue;
 margin-top: 55px;
}

.time hr{
 background-color: dodgerblue;
 margin-top: 30px;
}

.values p{
 margin: 5px;
}

.values p span{
 border-bottom: 2px solid #2952A3;
}

input{
 background-color: rgba(150, 150, 150, 0.3);
 border: 1px transparent solid;
 color: white;
 font-weight: bold;
 text-align: center;
 margin: 15px;
 width: 50%;
 border-radius: 2px;
}

input[type = text]:focus{
 border: none;
}

.minutes span, .seconds span{
 font-size: 13px;
}

#fahrenheit{
 padding: 25px 5px;
}
.sidenav{
 text-align: right;
 width: 0;
 height: 100%;
 position: fixed;
 z-index: 1;
 top: 0;
 right: 0;
 background-color: /*rgba(20, 20, 40, 0.9)*/ midnightblue;
 background-image: linear-gradient(#000, rgba(150, 150, 180, 0.5));
 transition: all 0.3s;
 padding-top: 20px;
}

.sidenav a{
 font-size: 1.2rem;
 padding: 8px 35px 8px 30px;
 display: block;
 color: snow;
 text-decoration: none;
 font-weight: 550;
 transition: all 0.5s;
 border-bottom: 1px solid #333;
}

.sidenav a:hover {
  color: ghostwhite;
}

header{
 display: flex;
 justify-content: space-between;
}

.headnav{
 display: flex;
 justify-content: space-between;
}

.headnav h2{
 color: darkblue;
}

.headnav h3{
 margin: 5px;
 font-size: 1.5rem;
 color: snow;
 position: sticky;
 top: 0;
 left: 20px;
 }
 
 .closebtn{
  font-size: 100px;
  position: absolute;
  margin-left: 3px;
 }
 
 .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }
 
 .cards div{
  flex: 1 1 45%;
  max-width: 45%;
  max-height: 300px;
  margin: 5px;
  
 }
 
 .cards div .values{
  font-size: 0.9rem;
 }
 
 .cards h4{
  font-size: 12px;
 }

.timeunit p{
 font-size: 14px;
}


@media screen and (min-width: 768px) {
 .time, .temperature, .circlecard{
  min-height: 20vh;
  font-size: 2rem;
 }
 
 input{
  width: 70%;
  margin-top: 3em;
 }
 
 
.minutes span, .seconds span{
 font-size: 1rem;
}
}